.text-area-with-counter
  small
    &.color-green
      color: #4caf50

    &.color-red
      color: #f44336

  textarea
    &.color-green
      background-color: lighten(#4caf50, 40%)

    &.color-red
      background-color: lighten(#f44336, 20%)
